.kid__card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 3px 5px 15px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    font-size: 20px;
}

.kid__btn__first {
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    background-color: #9747FF; 
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px 20px 8px;
    border-radius: 10px;
}
.kid__btn__first:hover {
    background-color: #fcbf0b; 
    cursor: pointer;
}
 
.kid__btn__second {
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    background-color: #2D53A1;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px 20px 8px;
    border-radius: 10px;
}
.kid__btn__second:hover {
    background-color: #ED6A1D; 
    cursor: pointer;
}

.kid__name {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: "Inter";
    font-weight: bolder;
}