.form__container{
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  margin-top: 30px;
}
.forma {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* background-color: green; */
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 3px 5px 15px 10px rgba(0,0,0,0.3);
  border-radius: 20px;
}



.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}


.label__text {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: "Inter";
}

.input {
  border: none;
  height: 35px;
  text-align: center;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 7px;
  font-family: "Inter";
  font-size: 20px;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.input:focus {
  outline: none;
}

.input:hover {
  background-color: #ffcd29;
  cursor: pointer;
}
.input__error {
  height: 35px;
  text-align: center;
  border: 1px solid red;
  border-radius: 7px;
  font-family: sans-serif;
}

.button{
  color: white;
  background-color: #FCBF0B ;
  border: none;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 20px;
  text-align:center;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 10px;
  font-family: "Inter";
  font-size: 25px;
}
.button:hover {
  cursor: pointer;
  color: #ED6A1D;
  background-color: white;
}

@font-face {
  font-family: "Inter"; 
  src: url("../../../public/Inter/Inter-V.ttf") format("truetype"); 
  font-style: medium; 
  font-weight: normal; 
  } 

.parent__header {
  background-color: #BDE3FF;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.children {
  display: flex;
  justify-content:space-around;
  flex-direction:row;
}