.footer {
  background-color: #f7f5f5;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.raw1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.raw2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.logo img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}