.closed {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 85%;
}

.closed:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.closed__error {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 85%;
}





