.app__card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 3px 5px 15px 10px rgba(0,0,0,0.3);
    border-radius: 20px;

}
.app__btn {
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    background-color: #9747FF; 
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px 20px 8px;
    border-radius: 10px;
}