.card {
  margin: 25px;
  position: relative;
  height: 400px;
  width: 264px;
  display: flex;
}

.cardBlue {
  margin: 25px;
  position: relative;
  height: 400px;
  width: 264px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.text {
  margin: 10px;
}

.whiteBtn {
  color:white;
  background-color: #2D53A1; 
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 20px 8px;
  border-radius: 10px;
  position: absolute;
  justify-self: center;
  top: 80%; 
  left: 33%;
  z-index: 3;
}

.whiteBtn:hover {
  color:white;
  background-color:#9747ff;
  cursor: pointer;
}

.title {
  position:absolute;
  top: 0%; 
  left: 3%;
  margin:10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
	/* display: inline; */
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0 0 rgba(0, 0, 0, 0.1), 0px 0 0 rgba(0, 0, 0, 0.1);
	padding: 0 0px 0 0;
	color: #FFFFFF;
	line-height: 20px;
  z-index: 2;
}
 
.image {
  position:absolute;
  border-radius: 10px;
  z-index: 0;
  top: 0%; 
  left: 0%;
  height: inherit
}
