.banner {
  background-color: #ffcd29;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

}

.circle {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background-color: white;
  margin: 20px;
  margin-left: 120px;
  position: relative;

}

.textBanner {
  width: 70%;
  text-align: left;
  align-items: flex-start;
}


.logo {
  position:absolute;
  width: 145px;
  height: 145px;
  animation:40s logo infinite linear;
  top:calc(5%);
  left:calc(7%);
  /* transform-origin:70px 5px; */
}

.losung {
  color:white;
  margin-top: 5px;
  
}

.title {
  font-size: 70px;
  color: white;
  margin-bottom:5px;
  font-family: "Inter";
}


.whiteBtn {
  background-color: white;
  border: none;
  color: #9e9999;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 10px 8px;
  border-radius: 10px;
}


.whiteBtn:hover {
  color: #ED6A1D;
}

.buttonRow {
  display: flex;
  justify-content: center;
  height: 100%;
}

@font-face {
  font-family: "Inter"; 
  src: url("./fonts/Inter/Inter-V.ttf") format("truetype"); 
  font-style: medium; 
  font-weight: normal; 
  } 

@keyframes logo{
    from{
      transform:rotate(0)
    }
    to{
      transform:rotate(360deg)
    }
}