.container {
  padding: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}


/* .whiteBtn {
  background-color: white;
  border: none;
  color: #9e9999;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 10px 8px;
  border-radius: 10px;
} */

.whiteBtn:hover {
  background-color: #ED6A1D;
}