.card {
    margin: 25px;
    position: relative;
    height: 400px;
    width: 264px;
  }
  
  .cardBlue {
    margin: 25px;
    position: relative;
    height: 400px;
    width: 264px;
    background-color: #BDE3FF;
    display: flex;
    align-items: center;
  }
  
  .text {
    margin: 10px;
    display: flex;
  }
  
  .whiteBtn {
    background-color: white;
    border: none;
    color: #9e9999;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px 20px 8px;
    border-radius: 10px;
    position: absolute;
    justify-self: center;
    top: 80%; 
    left: 33%;
    z-index: 3;
  }

  .buttonDelete {
    background-color: red;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px 20px 8px;
    border-radius: 10px;
    position: absolute;
    justify-self: center;
    top: 80%; 
    left: 100%;
    z-index: 3;

  }
  
  
  .whiteBtn:hover {
    color:white;
    background-color: #FFCD29;
  }
  
  .titleBox {
    position:absolute;
    top: 0%; 
    left: 0%;
    margin:10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
      /* display: inline; */
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0 0 rgba(0, 0, 0, 0.1), 0px 0 0 rgba(0, 0, 0, 0.1);
      padding: 0 0px 0 0;
      color: #FFFFFF;
      line-height: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    /* display: flex; */
  }
  
  
  .image {
    position:absolute;
    z-index: 0;
    top: 0%; 
    left: 0%;
    height: inherit
  }
  
 