::placeholder {
  font-size: 15px;
  color: #9e9999;
  font-family: "Inter";
}
.card {
  margin: 25px;
  position: relative;
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between
}

.title {
  align-self:center;
  justify-self: center;
  margin:10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 0 rgba(0, 0, 0, 0.1), 0px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0 0px 0 0;
  color: #FFFFFF;
  line-height: 20px;
  z-index: 2;
  position: relative;
}

.image {
  position:absolute;
  border-radius: 10px;
  z-index: 0;
  top: 0%; 
  left: 0%;
  height: inherit;
  
}
.buttonsContainer {
  display: flex;
  justify-content: center;
}

.actionButton1 {
  color:white;
  background-color: #ED6A1D;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px 0px 0px 10px;
  z-index: 3;
  position: relative;
  margin-bottom: 30px;
}
.actionButton1:hover {
  color: #BDE3FF;
}

.actionButton2 {
  color:white;
  background-color: #9747FF; 
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  z-index: 3;
  position: relative;
  margin-bottom: 30px;
}
.actionButton2:hover {
  color: #BDE3FF;
}

.actionButton3 {
  color:white;
  background-color: #2D53A1; 
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 0px 10px 10px 0px;
  z-index: 3;
  position: relative;
  margin-bottom: 30px;
}
.actionButton3:hover {
  color: #BDE3FF;
}

.actionButton4 {
  color:white;
  background-color: #ED6A1D;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  z-index: 3;
  position: relative;
  margin-bottom: 30px;
}

.form {
  align-self:center;
  background-color: #BDE3FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  width: 80%;
  height: 100%;
  z-index: 4;
  font-family: "Inter";
  border-radius: 10px;
}

.input {
  border: none;
  height: 35px;
  text-align: center;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 7px;
  font-family: "Inter";
  font-size: 15px;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  height: fit-content;
  color: #9e9999;
}

.cardBlue {
  background-color: #BDE3FF;
  position:absolute;
  border-radius: 10px;
  z-index: 0;
  top: 0%; 
  left: 0%;
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 5px
}

p {
  margin: 25px;
}

@font-face {
  font-family: "Inter"; 
  src: url("../../../public/Inter/Inter-V.ttf") format("truetype"); 
  font-style: medium; 
  font-weight: normal; 
  } 