.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  align-content: flex-end;
}

.containerForm {
  display: flex;
  justify-content: center;
}

.inputForm {
  margin: 25px;
  position: relative;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #BDE3FF;
  border-radius: 10px;
  align-content: center;
  justify-content: space-evenly;

}

.input {
  border: none;
  height: 35px;
  text-align: center;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 7px;
  font-family: "Inter";
  font-size: 20px;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  height: fit-content;
  background-color: white;
}

.inputButton {
  color:white;
  background-color: #ED6A1D;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 4px 4px 4px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.inputButton:hover {
  color: #BDE3FF;
}



@font-face {
  font-family: "Inter"; 
  src: url("../../../public/Inter/Inter-V.ttf") format("truetype"); 
  font-style: medium; 
  font-weight: normal; 
  } 
